        .centered
        {
            text-align: center;
        }

        .large
        {
            font-size: xx-large;
        }

        .medium
        {
            font-size: medium;
        }

        .small
        {
            font-size: smaller;
        }